/*------Generales-----*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    /* border: 3px solid blue; */
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
}

/*------formulario-----*/

.form{
    /* border: 3px solid rgb(183, 183, 242) ; */
    border-top: 2p solid black ;
    max-width: 400px;
    margin: auto;
    padding: 30px 40px;
    margin-top: 10px;
    background:  rgb(172, 109, 231);
    margin-top: 10px;
}

.form-titulo{
  font-weight: bold;
  font-size: 30px;
  text-align: center;

}

.form-imput{
    margin-bottom: 30px;
}

.form-imput label{
    display: block;margin-top: 10px;

}
